<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<style>
		.inputImg {
			width: 100px;
			height: auto;
		}

		.btnImg {
			position: relative;
			margin-top: 4%;
			left: 9%;
			margin-left: 1%;
			transform: translate(-50%, -50%);
			z-index: 10;
			transition: 0.2s;
			cursor: pointer;
		}

		.btnImg:active,
		.btnImg:hover,
		.btnImg:focus {
			outline: none !important;
		}

		.btnImg:active {
			transform: scale(0.9) translate(-55%, -55%);
		}
	</style>
	<title>Twitch chatter</title>
</head>
<body>
</body>
</html>
