<%- include("../partials/_header"); -%>
	<div class="panel panel-default">
		<h1 class="panel-heading">Chat of Streamer</h1>
		<div class="panel-body">
			<form action="/twitch/chat" method="POST">
				<label for="channel">Channel name</label>
				<input type="text" name="channel">
				<div>
					<button type="submit" id="openChat" class="btn btn-primary">Open Chat</button>
				</div>
				<!--button type="button" id="openChat" class="btn btn-primary">Open Chat</!--button-->
			</form>
		</div>
	</div>

	<!--a id="startChat">Start chat</!--a>
	<script-- src="/test.js"></scrip-->
