<%- include("../partials/_headerNoNav"); -%>
	<div class="panel panel-default">
		<h1 class="panel-heading">Home</h1>
		<div class="list-group">
			<a href="/twitch/emotes" class="list-group-item list-group-item-action list-group-item-light">Emotes</a>
			<a href="/twitch/chat" class="list-group-item list-group-item-action list-group-item-light">Chat (Bot)</a>
			<a href="/about" class="list-group-item list-group-item-action list-group-item-light">About</a>
			<a href="/settings" class="list-group-item list-group-item-action list-group-item-light">Settings</a>
		</div>
	</div>
